<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/header-imports'%>
  </head>

  <body>
    <%= render 'shared/loader'%>
    <%= render 'shared/header'%>
    <%= render 'shared/details-news'%>
    <%= render 'shared/footer'%>
  </body>
</html>
